

.section-title{
    color: rgb(0, 0, 128);
    font-weight: bold;
    padding-left: 25%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}


a{
    text-decoration: none;
    color: rgb(0, 128, 128);
}

a:visited{
    color: rgb(0, 128, 128);
}

a:hover{
    color: rgb(223, 47, 47);
}
div.teacher{
    width: 70%;
    margin: 10px auto !important;
    transition: box-shadow .3s;
}
div.center >div{
    margin: 10px;
}
div.center td{
    padding: 10px;
}
div.center th{
    font-size: 20px;
    text-align: left;
}
div.center table{
    margin: 30px 20px;
}
div.teacher:hover{
    box-shadow: 0px 0px 10px rgb(7, 7, 7), 0 0 50px rgb(19, 19, 19), 0 0 50px white;
    background-color:rgb(218, 233, 246);
}


