
.font_style{
    font-family: 'Times New Roman', Times, serif;
    color: #002147;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue ;
    text-align: center;
}

.major{
    color: white;
    background-color: rgb(165, 5, 5);
    padding: 10px 15px;
    border-radius: 20px 20px 0 0;
}
div.major h4{
    margin: 0px;
}

div.center{
    margin-bottom: 20px;
    border-top: 5px solid rgb(165, 5, 5);
}

.program {
    margin: 3px;
    border: 1px solid gainsboro;
    width: 30%;
}
.program i{
   font-size: 60px;
}
.program a{
    text-align: center;
    text-decoration: none;
    color: #002147;
    display: block;
    padding: 5px;
    transition: box-shadow .3s;
}

.program a:hover{
    box-shadow: 0px 0px 10px rgb(7, 7, 7), 0 0 50px rgb(19, 19, 19), 0 0 50px white;
    
}

.main_index1 >div {
    margin-top: 20px;

}