.menu{
    flex-direction: column;
}
div.image_first_child{
    display: none;
}
div.image_first >div{
    width: 100%;
}
div.informations{
    width: 100%;
}
div.information_student{
    flex-direction: column;
}
div.slideshow-container{
    width: 100%;
}
div.video div.flex{
    flex-direction: column;
}
div.event div.flex > div{
    width: 100%;
}
div.video div.flex >div {
    width: 80%;
}
div.introduce img{
    display: none;
}

.program{
    width: 100%;
}